<html>

<head>
    <title>Menú de opciones</title>
    <link href="/assets/style.css" type="text/css" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <h1 class="text-center">Menú de opciones</h1><br>

    <div class="container">
        <a href="/insert" class="list-group-item list-group-item-info text-center">Insertar</a><br>
        <a href="/search" class="list-group-item list-group-item-info text-center">Search</a><br><br>
    </div>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Username</th>
                    <th scope="col">Password</th>
                    <th scope="col">Delete</th>
                    <th scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(function(o){ %>

                    <tr>
                        <td>
                            <%= o._id %>
                        </td>
                        <td>
                            <%= o.userName %>
                        </td>
                        <td>
                            <%= o.password %>
                        </td>
                        <td>
                            <form method="POST" action="/deleteUser/<%= o._id %>">
                                <button type="submit" class="btn btn-danger">Borrar</button>
                            </form>
                        </td>
                        <td>
                            <form method="POST" action="/update/<%= o._id %>">
                                <button type="submit" class="btn btn-info">Editar</button>
                            </form>
                        </td>
                    </tr>

                    <% }); %>
            </tbody>
        </table>
    </div>
</body>

</html>